<!DOCTYPE html>
<html>
<head>
  <title>TransientObjects</title>
  <%= stylesheet_link_tag    "transient_objects/application", :media => "all" %>
  <%= javascript_include_tag "transient_objects/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
